/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Container */
.hom-container {
  padding: 40px;
  background: linear-gradient(to bottom right, #4ae5f6, white, rgb(250, 250, 98));
  height: 100%;
  position: relative;
}

/* Content Block */
.hom-content {
  max-width: 600px;
  margin-top: 30px;
  z-index: 2;
  
}

.hom-content h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

.hom-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

/* Button */
.shop-button {
  margin-top: 150px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.shop-button:hover {
  background-color: #3730a3;
}

/* Image holder */
.image-holder {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Image default style */
.moving-image {
  position: absolute;
  width: 300px;
  height: auto;
  transition: all 0.7s ease;
  border-radius: 12px;
}

/* Scroll stages */
.moving-image.top {
  top: 40px;
  right: 40px;
  left: auto;
}

.moving-image.middle {
  top: 50%;
  left: 40px;
  transform: translateY(-50%) scale(1.05);
  right: auto;
}

.moving-image.end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 30rem;
}

/* Zoom-out animation */
.moving-image.zoom-out {
  transform: translate(-50%, -50%) scale(20);
  opacity: 0;
  transition: transform 0.8s ease-in, opacity 0.8s ease-in;
}

/* Scroll sections */
.scroll-section {
  min-height: 70vh;
  padding: 100px 0;
}

.mid-text {
  max-width: 600px;
  margin-left: auto;
  text-align: left;
}

.end-content {
  text-align: center;
  margin-top: 20px;
}

/* Dark Mode */
.dark-mode .hom-container {
  background: linear-gradient(to bottom right, #000000, rgb(102, 0, 128), rgb(199, 171, 241));
}

.dark-mode .hom-content h1,
.dark-mode .hom-content p,
.dark-mode .mid-text h2,
.dark-mode .mid-text p {
  color: white;
}

.shop-button::after{
  opacity: 0%;
}