/* Reset default padding & margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  background-color: #121212;
  color: #fff;
}

/* Navbar Container */
.navbar {
  margin-top: 5px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 08vh;
  
   background-image: linear-gradient(to bottom right,rgb(0, 132, 255) ,white,rgb(0, 132, 255));
  /* background-image: linear-gradient(to right,blue,white); */
  border: solid black 1px;
  width: 218.5vh;
  top: 0;
  z-index: 999;
  border-radius: 15px;
  position: fixed;

}



body.dark .navbar{
    background-image: linear-gradient(to bottom right,rgb(0, 132, 255) ,rgb(0, 0, 0),rgb(0, 132, 255));
    border: solid rgb(161, 202, 246) 0.1px;
}
/* Dark Mode Navbar */
/* .navbar-dark {
  background-color: #1e1e1e;
  border-bottom: 1px solid #444;
} */

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

body.dark .logo{
  color: white;
}

.logo:hover{
  color: silver;
}

.navbar-dark .logo {
  color: #fff;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 520;
  transition: color 0.2s ease;
  margin: 10px;
  font-size: 20px;
  margin-bottom: 29px;
}

.navbar-dark .nav-links a {
  color: #f0f0f0;
}

.nav-links a:hover {
  color: gold;
  transform: scale(1.1);
  transition: 0.1s ease-in ;
}

/* Logout Button */
.logout-btn {
  background-color: transparent;
  border: 2px solid red;
  color: red;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
   margin-bottom: 15px;
}

.logout-btn:hover {
  background-color: red;
  color: white;
}

/* Dark Mode Toggle */
.toggle-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transform: translate(-7px,-7px);
}

.navbar-dark .toggle-btn {
  color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    width: auto;
    padding: 0px;
    height: 37px;
    
  }

  .nav-links {
    
    width: 100%;
    margin-left: 10px;
    gap: 0px;
  }

  .nav-links a {
    width: 100%;
    
  }

  .logout-btn {
    margin-top: 10px;
  }
}
